/* GLOBAL */

html {
    font-size: 16px;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 23, 48);
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    padding: .7rem .9rem;
    /* background-color: rgb(97, 183, 223); */
    background-color: rgb(62, 47, 79);
}
img.chameleon {
    display: none;
}
img.chameleon.active {
    display: block;
}
.chameleon {
    height: 53px;
}
section#header-title {
    padding-left: .8rem;
}
#h1-chevron-wrapper {
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'dinosaur', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1.9rem;
    line-height: 1.6rem;
    letter-spacing: .08rem;
    text-transform: uppercase;
    /* color: rgb(255, 255, 255); */
    color: rgb(240, 248, 255);
    margin: 0;
    padding: 0 .2rem 0 0;
}
h2 {
    font-family: 'dinosaur', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: .08rem;
    /* line-height: .5rem; */
    /* color: rgb(41, 35, 70); */
    color: rgb(188, 195, 195);
    margin: 0;
}
#black {
    color: rgb(0, 0, 0);
}
#red {
    color: rgb(255, 0, 0);
}
#yellow {
    color: rgb(255, 215, 0);
}
.chevron {
    font-family: 'dinosaur', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3rem;
    line-height: 1px;
    letter-spacing: -8px;
    padding-bottom: .8rem;
    display: none;
}

/* MAIN */

#help-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem 0 .5rem;
}
#icon-container {
    display: flex;
    align-items: center;
    background-color: rgb(27, 23, 48);
    height: 84px;
    z-index: 2;
}
#hint-message {
    background-color: rgb(191, 255, 223);
    padding: 1rem 1.3rem;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    color: rgb(16, 115, 106);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -100%;
    width: 300px;
    height: 80px;
    z-index: 1;
}
#hint-message::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -6px;
    background-color: rgb(191, 255, 223);
    border-radius: 2px;
    top: 36%;
    transform: rotate(45deg);
}
.help-icons {
    height: 40px;
    filter: opacity(.7);
    cursor: pointer;
    padding-right: 2rem;
}
.help-icons:hover {
    filter: opacity(1);
}
#german-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 555px;
    height: 250px;
    margin: 3rem auto 2.1rem;
    background-color: rgb(92, 40, 66);
    border-radius: 5px;
}
h3#german-word {
    font-family: 'dinosaur', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.8rem;
    letter-spacing: .1rem;
    color: rgb(255, 215, 0);
    margin: 0 0 .1rem 0;
}
span#line {
    display: block;
    height: 7px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: .4rem;
}
#plural-zone {
    display: block;
}
h4#german-plural,
span.curly-braces {
    font-family: 'dinosaur', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(255, 215, 0);
    display: inline;
    margin: 0;
}
span.curly-braces {
    color: rgb(255, 255, 255);
}
input#your-translation {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(41, 35, 70);
    color: rgb(97, 183, 223);
    display: block;
    margin: 0 auto;
    padding: .5rem 0;
    border: none;
    border-radius: 3px;
}
input#your-translation::placeholder {
    opacity: .7;
    font-style: italic;
    font-size: 1.5rem;
}
/* activated with js, bzzt turns the input red */
.add-bzzt {
    -webkit-animation-name: bzzt;
    -webkit-animation-duration: 2s;
    animation-name: bzzt;
    animation-duration: 2s;
}
@-webkit-keyframes bzzt {
    0%   {background-color: #292346;}
    25%  {background-color: #a90000;}
    50%  {background-color: #a90000;}
    100% {background-color: #292346;}
}
@keyframes bzzt {
    0%   {background-color: #292346;}
    25%  {background-color: #a90000;}
    50%  {background-color: #a90000;}
    100% {background-color: #292346;}
}
#submit {
    margin: 1rem auto;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(10, 48, 78);
    background-color: rgb(240, 248, 255);
    border: none;
    border-radius: 2px;
    padding: .5rem 1rem;
    cursor: pointer;
}

/* NEXT-LEVEL MODAL BOX */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 6%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41,35,70,0.5);
}
.modal-content {
    position: relative;
    background-color: rgb(253, 253, 253);
    margin: auto;
    padding: 0;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    -webkit-animation-name: drop-modal;
    -webkit-animation-duration: 0.4s;
    animation-name: drop-modal;
    animation-duration: 0.4s;
}
@-webkit-keyframes drop-modal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}
@keyframes drop-modal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}
.modal-body {
    padding: 2px 16px;
    text-align: center;
}
h1#congrats {
    color: rgb(201, 124, 194);
    margin: 2rem 0;
    font-size: 3rem;
}
h2#congrats-sub {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .12rem;
    color: rgb(109, 103, 93);
    padding-bottom: 1.5rem;
}
figure {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/flash-level-bubble.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
#level {
    font-family: 'dinosaur', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7.8rem;
    color: rgb(248 248 255);
}
.modal-footer {
    padding: 2px 16px;
}
#continue {
    margin: 1.5rem auto;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(240, 248, 255);
    background-color: rgb(128 84 181);
    border: none;
    border-radius: 2px;
    padding: .5rem 3rem;
    cursor: pointer;
}
#continue:hover {
    background-color: rgb(201, 124, 194);
}

/* FOOTER */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
#copyright {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
        
    /* MODAL BOX */

    .modal-content {
        width: 70%;
    }
}

@media only screen and (max-width: 615px) {

    /* MAIN */

    #german-box {
        width: 350px;
        height: 200px;
        margin: 2rem auto 2.1rem;
    }
    h3#german-word {
        font-size: 3.1rem;
    }
    h4#german-plural,
    span.curly-braces {
        font-size: 1.4rem;
    }
    input#your-translation {
        width: 300px;
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 415px) {

    /* MODAL BOX */

    .modal {
        padding-top: 20%;
    }
    .modal-content {
        width: 80%;
    }
    h1#congrats {
        font-size: 2.3rem;
        margin: 2rem 0 1.5rem;
    }
    h2#congrats-sub {
        font-size: 1.1rem;
    }
    figure {
        height: 235px;
        margin: 5px;
    }
}