/* GLOBAL */

html {
    font-size: 16px;
    font-family: 'dinosaur', sans-serif;
    box-sizing: border-box;
    height: -webkit-fill-available;

}
* {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 18, 47);
}
button {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    padding: .5rem 3rem;
    cursor: pointer;
}

/* ACCENT FONTS */

.nav-links,
#card-category,
.info-item {
    font-family: 'verveine', sans-serif;
    font-weight: 600;
    font-style: normal;
}
button,
#hint-message,
#your-translation,
.review-answers,
#copyright {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1.5rem;
    background-color: rgb(62, 47, 79);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
}
#logo-container {
    display: flex;
    align-items: center;
}
#chameleon {
    width: 61.16px;
}
img#logo {
    height: 53px;
    padding-left: .4rem;
}
a {
    text-decoration: none;
    padding: 0;
}
#hamburger {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 7;
    width: 2.6rem;
    cursor: pointer;
    display: none;
}
#highlighter-menu,
#highlighter-lines {
    display: none;
}
nav {
    position: relative;
    z-index: 7;
}
#nav-x-bg {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 7;
}
li {
    margin-left: .6rem;
    padding: .3rem .4rem;
}
.nav-links {
    display: inline;
    font-size: 1.1rem;
    color: rgb(240, 248, 255);
    letter-spacing: .08rem;
    text-transform: lowercase;
    list-style: none;
    cursor: pointer;
    background-image: url('../images/nav-hover-highlight.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
.nav-links:hover {
    color: rgb(196, 255, 236);
    background-image: url('../images/nav-hover-highlight-dark.svg');
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
.header-shadow {
    border-bottom: 1px solid #3F51B5;
    box-shadow: 1px 3px 5px 1px #9E9E9E;
}

/* CATEGORIES  */

#categories-wrapper {
    display: none;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 2px 7px 1px #545454;
    border-bottom: 1px solid #9E9E9E;
    width: 100%;
    position: absolute;
    z-index: 6;
}
#lightning-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close-x-bg {
    display: none;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100px;
    background-image: linear-gradient(rgb(236, 123, 82), rgb(239, 82, 84));
    margin: 1rem 1.5rem 0;
    cursor: pointer;
}
.close-x-bg:hover {
    background-image: linear-gradient(rgb(237, 79, 84), rgb(237, 160, 117));
}
.close-x {
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: rgb(245, 245, 245);
    margin: 0;
}
.close-x:hover {
    transition: 2s;
    transform: rotate(360deg);
}
#lightning-container {
    margin: 1rem 2rem;
    text-align: center;
}
#tricolor-lightning {
    height: 100px;
    margin: .5rem;
    cursor: pointer;
}
#round-totals-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: .5rem auto;
}
#round-totals-container div {
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(109, 103, 93);
    text-transform: uppercase;
    font-size: .8rem;
}
#round-totals-container p {
    margin: .5rem .25rem;
}
.flashcard-total {
    font-weight: 700;
    font-size: 2rem;
}
#lightning-total {
    color: rgb(255, 72, 0);
}
#customized-total {
    color: rgb(128, 84, 181);
}
.gray-divider {
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(208, 205, 200);
    border-radius: 25px;
}
#lightning-text {
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: .12rem;
    color: rgb(109, 103, 93);
    padding: 1rem;
    margin: 0;
}
button.lightning-round {
    background-color: rgb(255, 72, 0);
    color: rgb(255, 255, 255);
    margin: 1rem auto;
}
button.lightning-round:hover {
    background-color: rgb(0, 197, 255);
}
.mobile {
    display: none;
}
#categories-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 692px;
}
#categories-box label {
    width: 110px;
    margin: 10px;
    padding: 15px;
    position: relative;
    cursor: pointer;
}
.hidden-checkbox {
    clip-path: inset(100% 100% 100% 100%);
    position: absolute;
}
.hidden-checkbox:checked + label .selection-ring {
    border: 3px solid rgb(165, 175, 232);
}
.hidden-checkbox:checked + label .label-text {
    font-weight: 700 !important;
}
.selection-ring {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    cursor: pointer;
}
.selection-ring div {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#adjectives-color {
    background-color: rgb(156, 83, 141);
}
#animals-color {
    background-color: rgb(160, 129, 129);
}
#arts-color {
    background-color: rgb(70, 130, 180);
}
#body-color {
    background-color: rgb(245, 106, 55);
}
#calendar-color {
    background-color: rgb(205, 92, 92);
}
#catastrophe-color {
    background-color: rgb(117, 148, 117);
}
#clothes-color {
    background-color: rgb(9, 148, 189);
}
#food-color {
    background-color: rgb(244, 67, 54);
}
#home-color {
    background-color: rgb(119, 46, 83);
}
#nature-color {
    background-color: rgb(46, 139, 87);
}
#numbers-color {
    background-color: rgb(107, 106, 158);
}
#people-color {
    background-color: rgb(0, 139, 139);
}
#phrases-color {
    background-color: rgb(206, 60, 94);
}
#tech-color {
    background-color: rgb(96, 125, 139);
}
#travel-color {
    background-color: rgb(94, 147, 243)
}
.category-icons {
    width: 25px;
    max-height: 20px;
}
.squished {
    width: 20px;
}
.expanded {
    width: 30px;
}
.taller {
    max-height: 24px;
}
.label-text {
    font-weight: 300;
    font-style: normal;
    font-size: .8rem;
    color: rgb(41, 35, 70);
    text-align: center;
    margin: .6rem auto 0;
}
.select-categories {
    margin: 1rem auto;
    color: rgb(240, 248, 255);
    background-color: rgb(128, 84, 181);
}
.select-categories:hover,
#continue:hover {
    background-color: rgb(201, 124, 194);
}
#lightning-button-row {
    display: flex;
}

/* MAIN */

#help-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: .5rem;
}
#label-icon-container {
    display: flex;
    align-items: center;
    height: 84px;
}
#help-icons-container {
    display: flex;
    align-items: center;
    background-color: rgb(26, 18, 47);
    height: 84px;
    z-index: 2;
}
#hint-message-container {
    background-color: rgb(191, 255, 223);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: -100%;
    width: 250px;
    height: 80px;
    z-index: 1;
}
#hint-message-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -6px;
    background-color: rgb(191, 255, 223);
    border-radius: 2px;
    transform: rotate(45deg);
}
#hint-message {
    display: inline-block;
    padding: 1rem 1.3rem;
    font-size: 1rem;
    color: rgb(16, 115, 106);
}
.ital {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.help-icons {
    height: 40px;
    filter: opacity(.7);
    cursor: pointer;
    padding-right: 2rem;
}
.help-icons:hover {
    filter: opacity(1);
}
#mobile-focus {
    padding-top: 1.5rem;
}
#countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .625rem;
}
#countdown-container p {
    font-weight: 300;
    font-style: normal;
    font-size: .8rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(245, 245, 245);
    margin: 0;
    opacity: 0;
    width: 140px;
}
#countdown {
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.3rem;
    background-color: rgb(204, 50, 93);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    padding: .3rem .8rem .4rem .8rem;
    margin: 0 .5rem;
    cursor: pointer;
}
#update-remaining {
    text-align: left !important;
}
#german-box {
    display: grid;
    width: 555px;
    height: 250px;
    grid-template: 20% 60% 20% / 100%;
    margin: 0 auto 2.1rem;
    border-radius: 5px;
}
#flashcard-category-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    opacity: .5;
}
#card-category {
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 0;
}
#card-text-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#german-word {
    display: inline;
    font-weight: 700;
    font-style: normal;
    font-size: 3.8rem;
    letter-spacing: .1rem;
    color: rgb(255, 255, 255);
    margin: 0 0 .1rem 0;
}
#line {
    display: block;
    height: 7px;
    width: 100%;
    background-color: rgb(255, 215, 0);
    border-radius: 5px;
    margin: .13rem 0 .4rem 0;
}
#plural-zone {
    display: block;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(255, 215, 0);
    display: inline;
    margin: 0;
}
#plural-zone p {
    margin: 0;
}
#german-plural {
    color: rgb(255, 255, 255);
}
#translation-container {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 100px;
    background-color: rgb(41, 35, 70);
    margin: 0 auto;
    padding: 0 .7rem 0 1.5rem;
}
#your-translation {
    font-size: 2rem;
    text-align: center;
    background-color: rgb(41, 35, 70);
    color: rgb(97, 183, 223);
    padding: .5rem 0;
    border: none;
    border-radius: 3px;
}
#your-translation::placeholder {
    opacity: .7;
    font-style: italic;
    font-size: 1.5rem;
}
#your-translation:active,
#your-translation:focus {
  outline: none;
}
#submit {
    display: inline-block;
    background-color: rgb(196, 255, 236);
    border-radius: 100px;
    height: 2.5rem;
    width: 3.125rem;
    margin: 0;
    padding: 0;
}
#submit-arrow {
    height: 50%;
    margin: 0 auto;
    display: block;
}
#submit:active,
#submit:focus {
    border: 1px solid rgb(97, 183, 223);
    outline: none;
    box-shadow: 0 0 3px 1px rgb(97, 183, 223);
}

/* INPUT AND QUIZ-BUTTON ANIMATIONS */

/* activated with js, bzzt turns the input red */
.add-bzzt {
    -webkit-animation-name: bzzt;
    -webkit-animation-duration: 2s;
    animation-name: bzzt;
    animation-duration: 2s;
}
@-webkit-keyframes bzzt {
    0%   {background-color: rgb(41, 35, 70);}
    25%  {background-color: rgb(169, 0, 0);}
    50%  {background-color: rgb(169, 0, 0);}
    100% {background-color: rgb(41, 35, 70);}
}
@keyframes bzzt {
    0%   {background-color: rgb(41, 35, 70);}
    25%  {background-color: rgb(169, 0, 0);}
    50%  {background-color: rgb(169, 0, 0);}
    100% {background-color: rgb(41, 35, 70);}
}

/* activated with js, sparkle highlights the quiz buttons  */
.add-sparkle {
    -webkit-animation-name: sparkle;
    -webkit-animation-duration: 2s;
    animation-name: sparkle;
    animation-duration: 2s;
}
@-webkit-keyframes sparkle {
    0%   {background-color: rgb(41, 35, 70);}
    25%  {background-color: rgb(179, 230, 217); border-color: rgb(179, 230, 217);}
    50%  {background-color: rgb(179, 230, 217); border-color: rgb(179, 230, 217);}
    100% {background-color: rgb(41, 35, 70);}
}
@keyframes sparkle {
    0%   {background-color: rgb(41, 35, 70);}
    25%  {background-color: rgb(179, 230, 217); border-color: rgb(179, 230, 217);}
    50%  {background-color: rgb(179, 230, 217); border-color: rgb(179, 230, 217);}
    100% {background-color: rgb(41, 35, 70);}
}

/* NEXT-LEVEL MODAL BOX */

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    padding-top: 6%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41,35,70,0.5);
}
#level-box {
    z-index: 8;
}
.modal-content {
    position: relative;
    background-color: rgb(253, 253, 253);
    margin: auto;
    padding: 0;
    border: 1px solid rgb(136, 136, 136);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 50%;
    -webkit-animation-name: drop-modal;
    -webkit-animation-duration: 0.4s;
    animation-name: drop-modal;
    animation-duration: 0.4s;
}
@-webkit-keyframes drop-modal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}
@keyframes drop-modal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}
#modal-body {
    padding: 2px 16px;
    text-align: center;
}
h2 {
    font-weight: 900;
    font-style: italic;
    line-height: 1.6rem;
    letter-spacing: .08rem;
    text-transform: uppercase;
    color: rgb(201, 124, 194);
    margin: 2rem 0;
    font-size: 3rem;
    padding: 0;
}
#congrats-sub,
#review-sub {
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .12rem;
    color: rgb(109, 103, 93);
    padding-bottom: 1.5rem;
    margin: 0; 
}
#review-sub {
    text-transform: unset;
}
#modal-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/flash-level-bubble.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 300px;
    margin-bottom: 1.5rem;
}
#level {
    font-weight: 700;
    font-style: normal;
    font-size: 7.8rem;
    color: rgb(248, 248, 255);
    cursor: default;
}
.chevron-ornament {
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    color: rgb(109, 103, 93);
}
.review-button {
    font-weight: bold;
    font-style: normal;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .03rem;
    color: rgb(97, 183, 223);
    padding: 0 .3rem;
    display: inline;
    cursor: pointer;
}
.review-button:hover {
    padding: 0;
    color: rgb(217, 159, 247);
    transition: padding 2s, color 2s;
}
#end-review-container {
    display: none;
}
#modal-review {
    display: none;
    padding: 2px 35px;
    text-align: center;
}
#review-box {
    max-height: 250px;
    overflow-y: scroll;
    background-color: rgb(240, 248, 255);
    padding-bottom: 1.5rem;
}
.review-words {
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin: 1.5rem auto .2rem;
    width: fit-content;
    cursor: pointer;
}
.down-arrows {
    display: none;
    height: 15px;
    margin: 0 auto;
    padding: 0 10px;
}
.up-arrows {
    transform: rotate(180deg);
    transition-duration: 2s;
    backface-visibility: hidden;
}
.review-answers {
    display: none;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    color: rgb(85, 110, 144);
    padding: 0 .5rem;
    margin: .2rem auto 0;
}
#modal-footer {
    padding: 2px 16px;
}
#continue {
    margin: 1.5rem auto;
    color: rgb(240, 248, 255);
    background-color: rgb(128, 84, 181);
}

/* ONION SKIN */

#info-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    -webkit-animation-name: reveal-info;
    -webkit-animation-duration: 0.4s;
    animation-name: reveal-info;
    animation-duration: 0.4s;
}
@-webkit-keyframes reveal-info {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}
@keyframes reveal-info {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}
.info-graphics {
    display: none;
}
#info-countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3125rem;
    height: 2rem;
    background-color: rgb(204, 50, 93);
    border-radius: 2px;
}
#info-countdown {
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
}
.help-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    background-color: rgb(26, 18, 47);
    margin: 0 1rem;
}
.info-help-icons {
    height: 40px;
}
#flashcard-example,
#quiz-flashcard-example {
    width: 75%;
}
#input-example,
#quiz-buttons-example {
    width: 70%;
}
.info-arrows {
    display: block;
}
#info-arrow-counter,
#info-arrow-flashcard {
    width: 6rem;
    align-self: flex-end;
}
#info-arrow-help {
    width: 3rem;
    margin: 0 auto;
}
.info-blurbs {
    width: 19rem;
    /* margin: 0 2rem; */
    margin: -3rem 2rem 0 2rem;
}
.info-item {
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(255, 215, 0);
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.info-text {
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: rgb(240, 248, 255);
    letter-spacing: .03rem;
    line-height: 1.4rem;
    margin: .5rem 0 1rem 0;
    display: block; 
}
#about-counter {
    margin: 2rem 2rem 0 2rem;
}
#about-help {
    align-self: flex-end;
    text-align: right;
}
#about-flashcard,
#about-counter {
    display: flex;
    flex-direction: column;
}
.review-preview-container {
    display: inline;
    position: relative;
}
.yellow-dash {
    position: relative;
    background-image: url('../images/yellow-dash.svg');
    background-position: bottom;
    background-size: 63%;
    background-repeat: repeat-x;
    padding-bottom: .1rem;
    cursor: pointer;
}
.preview-box {
    display: none;
    position: absolute;
    right: 0px;
    height: 304px;
    border-radius: 2%;
    background-color: rgb(255, 215, 0);
    box-shadow: -3px -1px 7px 6px rgba(41,35,70,0.5);
    cursor: pointer;
}
video {
    display: block;
    outline: none;
    border-radius: 4px;
    padding: 10px 10px;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    background-color: inherit;
    padding: 1.5rem 2rem;
}
#copyright {
    font-size: 14px;
    color: rgb(81, 68, 97);
    margin: 0;
}
#info-switch-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}
#info {
    font-weight: 300;
    font-style: normal;
    font-size: .9rem;
    color: rgb(120, 115, 144);
    text-align: center;
    letter-spacing: .06rem;
    text-transform: lowercase;
    padding-right: .4rem;
    margin: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    z-index: 5;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(120, 115, 144);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: rgb(41, 29, 72);
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .slider {
    background-color: rgb(255, 215, 0);
}
.switch input:focus + .slider {
    box-shadow: 0 0 1px rgb(255, 215, 0);
}
.switch input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}

/* DER DIE DAS QUIZ */

#blank-word-flex {
    display: flex;
    align-items: baseline;
}
#blank-line-wrapper {
    display: flex;
    margin: 0 1.3rem 0 .31rem;
}
.blank-line {
    height: .2rem;
    width: 1.5rem;
    background-color: rgb(255 255 255);
    border-radius: 5px;
    margin: 0 .2rem;
}
#quiz-button-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 550px;
    margin: 0 auto;
}
.quiz-buttons {
    font-size: 1.5rem;
    text-transform: none;
    color: rgb(255, 215, 0);
    background-color: rgb(41, 35, 70);
    border: 1.5px solid rgb(255, 215, 0);
    border-radius: 100px;
    padding: .8rem 2rem;
}
.quiz-buttons:active {
    background-color: rgb(255, 215, 0);
    color: rgb(26, 18, 47);
}
.quiz-buttons:focus {
    border: 1.5px solid rgb(66, 165, 245);
    box-shadow: 0px 0px 0px 1px rgb(177, 251, 227);
    outline: none;
}
.add-quiz-bzzt {
    -webkit-animation-name: quiz-bzzt;
    -webkit-animation-duration: 2s;
    animation-name: quiz-bzzt;
    animation-duration: 2s;
    color: rgb(240, 248, 255);
    cursor: not-allowed;
}
@-webkit-keyframes quiz-bzzt {
    0%   {background-color: rgb(41, 35, 70);}
    25%  {background-color: rgb(169, 0, 0);}
    50%  {background-color: rgb(169, 0, 0);}
    100% {background-color: rgb(255, 26, 26);}
}
@keyframes quiz-bzzt {
    0%   {background-color: rgb(41, 35, 70);}
    25%  {background-color: rgb(169, 0, 0);}
    50%  {background-color: rgb(169, 0, 0);}
    100% {background-color: rgb(255, 26, 26);}
}
.red-button {
    background-color: rgb(255, 26, 26)!important;
    border: 1px solid rgb(255, 26, 26)!important;
    cursor: not-allowed;
    color: rgb(240, 248, 255)!important;
}
.sparkle-text {
    color: rgb(26, 18, 47);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1044px) {

    /* CATEGORIES */

    #lightning-flex {
        flex-direction: column;
    }
    #lightning-container {
        max-width: 692px;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    
    /* ONION SKIN */

    #info-container {
        overflow-y: scroll;
        max-height: 38rem;
        background-color: rgb(253, 253, 253);
        margin: 0 auto;
        padding: 1.3rem;
        border: 1px solid rgb(136, 136, 136);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 70%;
    }
    .info-graphics {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
    .info-blurbs {
        width: 100%;
        margin: 0 auto;
    }
    .info-text {
        color: rgb(109, 103, 93);
    }
    .info-item {
        color: rgb(47, 172, 155);
    }
    #about-counter {
        margin: 0 auto;
    }
    #about-help {
        text-align: left;
    }
    .yellow-dash {
        background-image: url('../images/green-dash.svg');
    }
    .info-arrows {
        display: none;
    }

    /* MODAL BOX */

    .modal-content {
        width: 70%;
    }
}

@media only screen and (max-width: 615px) {

    /* MAIN */

    #hamburger {
        display: block;
    }
    nav {
        position: fixed;
        top: 0;
        right: 100%;
        background-image: url('../images/stationery-background.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    ul {
        padding: 0;
        margin-top: 41%;
    }
    li {
        margin-left: 55%;
        transform: rotate(10deg);
    }
    .nav-links {
        display: block;
        font-size: 2.5rem;
        color: rgb(42, 95, 134);
        text-align: center;
        margin-bottom: 1rem;
        padding: 0;
        width: fit-content;
    }
    .nav-links:hover {
        color: rgb(99, 135, 172);
        background-image: url('../images/nav-hover-highlight-dark.svg');
    }
    #nav-x-bg {
        display: flex;
    }
    #highlighter-menu {
        display: block;
        height: 1.3rem;
        cursor: pointer;
        position: absolute;
    }
    #highlighter-lines {
        display: block;
        height: 1.3rem;
    }
    #categories-x-bg {
        display: flex;
    }
    #german-box {
        width: 350px;
        height: 170px;
        margin: 1rem auto 1.5rem;
    }
    #flashcard-category-wrapper {
        margin: 0 .75rem;
    }
    #card-category {
        font-size: .75rem;
    }
    #card-icon {
        width: 20px;
        max-height: 15px;
    }
    #blank-line-wrapper {
        margin: 0 1rem 0 .1rem;
    }
    .blank-line {
        width: 1rem;
        margin: 0 .15rem;
    } 
    #german-word {
        font-size: 2.4rem;
    }
    #plural-zone {
        font-size: 1.2rem;
    }
    #your-translation {
        width: 300px;
        font-size: 1.7rem;
        padding: .2rem 0;
    }
    #submit {
        height: 1.5rem;
        width: 2.125rem;
    }

    /* DER DIE DAS QUIZ */

    #quiz-button-row {
        max-width: 350px;
    }
    .quiz-buttons {
        font-size: 1rem;
        padding: .4rem 1rem;
    }
}

@media (hover: hover) {
    .quiz-buttons:hover {
        background-color: rgb(255, 215, 0);
        color: rgb(26, 18, 47);
    }
}

@media only screen and (max-width: 415px) {

    /* CATEGORIES */

    .category-buttons {
        padding: 13px;
        margin: 5px;
    }

    /* ONION SKIN */

    #info-container {
        width: 80%;
        max-height: 31.25rem;
    }
    .preview-box {
        right: unset;
        height: unset;
    }
    video {
        width: 252.9px !important;
        height: 230.15px !important;
    }

    /* MODAL BOX */

    .modal {
        padding-top: 10%;
    }
    .modal-content {
        width: 80%;
    }
    h2 {
        font-size: 2rem;
        margin: 1.5rem auto;
    }
    #congrats-sub {
        font-size: 1.1rem;
    }
    #modal-image {
        height: 235px;
        margin: 5px;
    }
    #review-sub {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    /* FOOTER */

    #copyright {
        font-size: .65rem;
    }
}

@media only screen and (max-width: 375px) {
    
    /* CATEGORIES */

    #categories-box {
        padding: 0 0 20px 0;
    }
}