html {
    font-size: 16px;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 23, 48);
}
header {
    display: flex;
    align-items: center;
    padding: .7rem;
    background-color: rgb(97, 183, 223);
}
img#chameleon {
    height: 73px;
}
section#header-title {
    padding-left: .5rem;
}
#h1-chevron-wrapper {
    display: flex;
    align-items: center;
}
h1 {
    font-family: 'dinosaur', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0 .2rem 0 0;
}
h2 {
    font-family: 'dinosaur', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    text-transform: lowercase;
    letter-spacing: .12rem;
    line-height: .5rem;
    color: rgb(41, 35, 70);
    margin: 0;
}
#black {
    color: rgb(0, 0, 0);
}
#red {
    color: rgb(255, 0, 0);
}
#yellow {
    color: rgb(255, 215, 0);
}
.chevron {
    font-family: 'dinosaur', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3rem;
    line-height: 1px;
    letter-spacing: -8px;
    padding-bottom: .8rem;
}
#german-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 250px;
    margin: 8rem auto 3.1rem;
    background-color: rgb(92, 40, 66);
    border-radius: 5px;
}
h3#german-word {
    font-family: 'dinosaur', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.8rem;
    letter-spacing: .1rem;
    color: rgb(255, 215, 0);
    margin: 0 0 .1rem 0;
}
span#line {
    display: block;
    height: 7px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: .4rem;
}
h4#german-plural,
span.curly-braces {
    font-family: 'dinosaur', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(255, 215, 0);
    display: inline;
    margin: 0;
}
span.curly-braces {
    color: rgb(255, 255, 255);
}
input#your-translation {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    background-color: rgb(41, 35, 70);
    color: rgb(97, 183, 223);
    display: block;
    margin: 0 auto;
    padding: .5rem 0;
    border: none;
    border-radius: 3px;
}
#submit {
    margin: 1rem auto;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(10, 48, 78);
    background-color: aliceblue;
    border: none;
    border-radius: 2px;
    padding: .5rem 1rem;
    cursor: pointer;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
#copyright {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    margin: 0;
}